<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbm.demo.mapper.FundInfoDao">

    <resultMap type="com.sbm.demo.bean.FundInfo" id="fundInfo">

        <result column="fundId" jdbcType="INTEGER" property="fundId"/>
        <result column="fundName" jdbcType="VARCHAR" property="fundName"/>
        <result column="dailyMoney" jdbcType="VARCHAR" property="dailyMoney"/>
        <result column="rate" jdbcType="VARCHAR" property="rate"/>
        <result column="lock" jdbcType="VARCHAR" property="lock"/>

        <result column="fundIntroduction" jdbcType="VARCHAR" property="fundIntroduction"/>
    </resultMap>


    <update id="update">
        update fundinfo set fundName = #{fundName}, dailyMoney = #{dailyMoney}, rate = #{rate}, lock = #{lock}where fundId = #{fundId}
    </update>

    <delete id="delete">
        delete from fundinfo where fundId = #{fundId}
    </delete>

    <!-- selectOne -->
    <select id="selectOne" resultMap="fundInfo">
      select * from fundinfo  where fundId = #{fundId}
    </select>

    <!-- selectAll -->
    <select id="selectAll" resultMap="fundInfo">
      select * from fundinfo
    </select>


</mapper>