<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbm.demo.mapper.LoginDao">

    <resultMap type="com.sbm.demo.bean.Login" id="login">
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="logName" jdbcType="VARCHAR" property="logName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <insert id="insert">
        insert into login(userId,logName,password) values(#{userId},#{logName},#{password})
    </insert>

    <!--只能更新用户密码-->
    <update id="update">
        update login set password = #{password} where userId = #{userId}
    </update>

    <delete id="delete" parameterType="int">
        delete from login where userId = #{userId}
    </delete>

    <!-- selectOne -->
    <select id="selectOne" parameterType="int" resultMap="login">
      select
        *
      from login where userId = #{userId}
    </select>

    <!-- 根据用户名和密码查找 -->
    <select id="selectOneByUserNameAndPassword" resultMap="login">
      select  *  from login where logName = #{logName} and password=#{password}
    </select>

    <!--根据用户名删除用户-->
    <delete id="deleteByUserName" >
        delete from login where logName = #{logName}
    </delete>
</mapper>