<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbm.demo.mapper.UserFundDao">

    <resultMap type="com.sbm.demo.bean.UserFund" id="userFund">
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="fundId" jdbcType="INTEGER" property="fundId"/>
        <result column="buyTime" jdbcType="VARCHAR" property="buyTime"/>
        <result column="fundMoney" jdbcType="VARCHAR" property="fundMoney"/>
    </resultMap>

    <resultMap type="com.sbm.demo.bean.UserFundList" id="userFundList">
        <result column="fundId" jdbcType="INTEGER" property="fundId"/>
        <result column="fundName" jdbcType="INTEGER" property="fundName"/>
        <result column="fundMoney" jdbcType="VARCHAR" property="fundMoney"/>

        <result column="rate" jdbcType="VARCHAR" property="rate"/>
        <result column="buyTime" jdbcType="VARCHAR" property="buyTime"/>
    </resultMap>

    <!--用户新增基金-->
    <insert id="insert">
        insert into userfund(userId,fundId,buyTime,fundMoney) values(#{userId},#{fundId},#{buyTime},#{fundMoney})
    </insert>

    <!--只更新基金数-->
    <update id="updateFundMoney">
        update userfund set fundMoney = #{fundMoney} where userId = #{userId} and fundId = #{fundId}
    </update>

    <delete id="delete" >
        delete from userfund where userId = #{userId}
    </delete>

    <!--根据userId和fundId查看是否购买某项基金-->
    <!-- selectOneByUserIdAndFundId -->
    <select id="selectOneByUserIdAndFundId" resultMap="userFund">
      select * from userfund where userId = #{userId} and fundId = #{fundId}
    </select>

    <!--根据ID查询基金名称及其购买金钱数-->
    <select id="selectFundMoneyAndName"  resultMap="userFundList">
      select a.fundId,a.fundMoney,a.buyTime,b.fundName,b.rate FROM userfund a
          LEFT JOIN fundinfo b on a.fundId = b.fundId where a.userId =#{userId};
    </select>

</mapper>